@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

*,
*::after,
*::before {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-optical-sizing: auto;
    box-sizing: border-box;
}
body {
    margin: 0;
}

button {
    outline: 0;
    border: 0;
    background: 0;
    cursor: pointer;
    padding: 5px;

    &:hover {
        transition: all 0.2s linear;
        outline: 1px #000 solid;
        background: #000;
        color: #fff;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}
