.container {
    padding: 10px 20px;
    background: linear-gradient(to bottom right, #f6f6eb, #f5f5dc);
    border-bottom: 1px solid #000;
}

.nav {
    display: flex;
    justify-content: center;
    gap: 20px;
}
